<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<settings>
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="defaultStatementTimeout" value="25"/>
	  <setting name="defaultFetchSize" value="100"/>
	  <setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
	<!--mapper에서 매칭할 parmeter Type 별칭 설정-->
	<typeAliases>
		<typeAlias type="kr.co.kalpa.olivia.model.QueryAttr" alias="QueryAttr"/>
		<typeAlias type="kr.co.kalpa.olivia.model.PageAttr" alias="PageAttr"/>
		<!-- Board -->
		<typeAlias type="kr.co.kalpa.olivia.model.board.Board" alias="Board"/>
		<typeAlias type="kr.co.kalpa.olivia.model.board.BoardFile" alias="BoardFile"/>
		<typeAlias type="kr.co.kalpa.olivia.model.board.BoardTagMatch" alias="BoardTagMatch"/>
		<typeAlias type="kr.co.kalpa.olivia.model.board.Tags" alias="Tags"/>
		<!-- Filebox -->
		<typeAlias type="kr.co.kalpa.olivia.model.filebox.Filebox" alias="Filebox"/>
		<typeAlias type="kr.co.kalpa.olivia.model.filebox.FileInfo" alias="FileInfo"/>
		<typeAlias type="kr.co.kalpa.olivia.model.filebox.FileMatch" alias="FileMatch"/>
	</typeAliases>
	
	<typeHandlers>
		<typeHandler handler="kr.co.kalpa.olivia.utils.mybatis.typehandler.IntegerArrayTypeHandler"/>
	</typeHandlers>
	
</configuration>