<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freshandbetter.edi.julia.repository.EdiUserRepository">
   <sql id="whereConditon">
		<!--    검색조건 -->
   		<if test="EdiUserId != null">
	       	AND id = #{id}
		</if>		
   		<if test="searchText != null">
	       	AND concat(id, nm, email) like concat('%',#{searchText},'%')
		</if>
   </sql>	
	<select id="selectCount" parameterType="Condition" resultType="Integer">
   		SELECT 
   			count(*) as count
   		FROM
   			edi_user
   		WHERE 1=1
   			<include refid="whereConditon"/>	
   </select> 
   
   <select id="selectList" parameterType="Condition" resultType="EdiUser">
	   SELECT 
	   		 id		AS id
	   		 ,nm	AS nm
	   		 ,pw	AS pw
	   		 ,email	AS email
	   		 ,role  AS role
	   		 ,created_by	AS createdBy
	   		 ,created_on	AS createdOn
	   		 ,last_update_by	AS lastUpdateBy
	   		 ,last_update_on	AS lastUpdateOn
	   		 ,last_login_on		As lastLoginOn
	   FROM 
	   		edi_user
	   WHERE 1=1
	   	<include refid="whereConditon"/>
	   ORDER BY nm	
	   LIMIT #{maxLimit}
   </select>
   <select id="selectOne" parameterType="EdiUser" resultType="EdiUser">
	   SELECT 
	   		 id		AS id
	   		 ,nm	AS nm
	   		 ,pw	AS pw
	   		 ,email	AS email
	   		 ,role AS role
	   		 ,created_by	AS createdBy
	   		 ,created_on	AS createdOn
	   		 ,last_update_by	AS lastUpdateBy
	   		 ,last_update_on	AS lastUpdateOn
	   		 ,last_login_on		As lastLoginOn
	   FROM 
	   		edi_user
	   WHERE 1=1
		<if test="id != null">
	       	AND id = #{id}
		</if>
   </select>
   <insert id="insert" parameterType="EdiUser">
      INSERT INTO edi_user
      	( id, pw, nm, email, role, created_by)
      VALUES 
      	( #{id}, #{pw}, #{nm}, #{email}, #{role}, #{createdBy} )
   </insert> 
   
   <update id="update" parameterType="EdiUser">
      UPDATE  
      	edi_user 
      SET
		id             = #{id},           
		pw             = #{pw},           
		nm             = #{nm},           
		email          = #{email},        
		role 		   = #{role},
		last_update_by = #{lastUpdateBy}, 
		last_update_on = CURRENT_TIMESTAMP 
      WHERE 1=1
	     AND  id = #{id}
   </update>
       
   <delete id="delete" parameterType="EdiUser">
      DELETE FROM
      	edi_user
      WHERE 1=1
	     AND  id = #{id}
   </delete>    

</mapper>