<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freshandbetter.edi.julia.repository.EdiCommon">
	
   <sql id="shipping945List">
   /* shipping945List */
		select 
			  A.customer_order_id            
			, actual_pickup_date      
			, purchase_order_number   
			, assigned_number         
			, pallet_id               
			, sku_no                  
			, requested_quantity      
			, actual_quantity_shipped 
			, lot_batch_code          
			, retailers_item_number   
			, st_company_name         
		from 
			edi.shipping_945 A 
			inner join edi.shipping_945_dtl B
			on A.customer_order_id  = B.customer_order_id 
   </sql>
   <sql id="po850List">
   /* po850List */
	select 
		(select nm from codes.company where id = B.company_id) as company_nm
		,A.po_no 
		,A.po_dt 
		,(
			select woy from codes.week_of_year woy 
			where A.po_dt between start_day and to_char( to_date(start_day ,'YYYYMMDD') + INTERVAL '6 days', 'YYYYMMDD') 		
		) woy 
		,B.seq AS po850_detail_seq
		,B.gtin13 AS gtin13
		,B.retailer_item_no AS retailer_item_no
		,B.vendor_item_No
		,(select retail_item_name  from codes.stocks  where retail_item_no  = B.retailer_item_no) as retail_item_nm 
<!-- 		,case company_id when 1 then B.qty when 2 then null end as qty_pack -->
<!-- 		,case company_id when 1 then b.qty/6 else qty end as qty_carton -->
		,case company_id when 1 then B.qty else null end as qty_pack
		,case company_id when 1 then b.qty/6 else qty end as qty_carton
		,B.unit_price AS unit_price
<!-- 		,case company_id when 1 then B.qty * B.unit_price else (b.qty/6) * B.unit_price end as price -->
		,(B.qty) * B.unit_price as price
		,b.seq
		,(select COALESCE (PERCENT, 0) AS percent from edi.po_850_allowance pa where po_no = B.po_no and desc_cd = 'I410') AS allowance1 
		,(select COALESCE (PERCENT, 0) AS percent from edi.po_850_allowance pa where po_no = B.po_no and desc_cd = 'F910') AS allowance2
		,(select COALESCE (amount, 0) AS percent from edi.po_850_allowance pa where po_no = B.po_no and desc_cd = 'I410') AS amount_i410 
		,(select COALESCE (amount, 0) AS percent from edi.po_850_allowance pa where po_no = B.po_no and desc_cd = 'F910') AS amount_f910 		 
		,A.dc_no 
		,A.Bt_nm  
		,concat(A.bt_addr, ', ', A.bt_city, ', ', A.bt_state, ', ', A.bt_zip, ', ', bt_country) AS bt_Addr2
		,A.bt_gln 
		,A.carrier_detail 
		,A.ship_payment 
		,A.ship_not_before 
		,A.ship_no_later 
		,A.must_arrive_by 
	from 
		edi.po_850 A 
		inner join edi.po_850_dtl B
		on A.po_no  = B.po_no 	
   </sql>
</mapper>