<!-- src/main/resources/mapper/ScheduleMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kalpa.olivia.repository.CrawlingRepository">
   
    <select id="selectSchedule" resultType="Schedule" parameterType="Long">
        <![CDATA[
        /** select
        SELECT 
        	  lunar_or_solar AS lunarOrSolar
        	, repeat_option AS repeatOption
        	, ymd AS ymd
        	, content AS content
        	, created_by AS createdBy
        	, created_on AS createdOn 
        FROM schedule 
        WHERE 1=1
		AND CASE repeat_option 
			WHEN 'S' THEN ymd >= TO_CHAR(CURRENT_DATE, 'YYYYMMDD')
			ELSE TRUE
		END        
        ]]>
    </select>

    <!-- Update a schedule -->
    <update id="updateSchedule" parameterType="Schedule">
        <![CDATA[
        UPDATE schedule
        SET lunar_or_solar = #{lunarOrSolar},
            repeat_option = #{repeatOption},
            ymd = #{ymd},
            content = #{content},
            created_by = #{createdBy},
            created_on = #{createdOn}
        WHERE id = #{id}
        ]]>
    </update>

    <!-- Delete a schedule by ID -->
    <delete id="deleteScheduleById" parameterType="Long">
        <![CDATA[
        DELETE FROM schedule WHERE id = #{id}
        ]]>
    </delete>

	<!--  *************************************************************************** -->
	<!--  Special day -->
	<!--  *************************************************************************** -->

    <!-- Insert a new special day -->
    <insert id="insertSpecialDay" parameterType="SpecialDay">
        INSERT INTO public.special_day (loc_date, seq, date_kind, holiday_yn, date_name, created_by, created_on)
        VALUES (#{locDate}, #{seq}, #{dateKind}, #{holidayYn}, #{dateName}, #{createdBy}, current_timestamp)
    </insert>

    <!-- Select all special days -->
    <select id="selectAllSpecialDays" resultType="SpecialDay">
        SELECT 
			loc_date
			,seq
			,date_kind
			,holiday_yn
			,date_name
			,created_by
			,created_on        	 
        FROM 
        	public.special_day
        WHERE 1=1
        		
        ORDER BY
        	loc_date, seq	
    </select>

    <!-- Select a specific special day by locdate and seq -->
    <select id="selectSpecialDay" parameterType="SpecialDay" resultType="SpecialDay">
        SELECT * FROM public.special_day
        WHERE loc_date = #{locDate} AND seq = #{seq}
    </select>

    <!-- Update a special day by locdate and seq -->
    <update id="updateSpecialDay" parameterType="SpecialDay">
        UPDATE public.special_day
        SET date_kind = #{dateKind}, holiday_yn = #{holidayYn}, date_name = #{dateName}
        WHERE loc_date = #{locDate} AND seq = #{seq}
    </update>

    <!-- Delete a special day by locdate and seq -->
    <delete id="deleteSpecialDay" parameterType="SpecialDay">
        DELETE FROM public.special_day
        WHERE loc_date = #{locDate} AND seq = #{seq}
    </delete>
	
</mapper>
